.btn {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
//  margin-bottom: 1em;
//  margin-right: 1em;
  color: #5A5A5A;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 20px;
  background: transparent url("/img/buttons.png") repeat-x scroll 0px 0px;
  &:hover {
      background-position: 0px -42px;
      border-color: #9DCAE7;
  }

  &.btn-primary, &.btn-warning {
    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover, fieldset[disabled]
    &.disabled:focus,
    &[disabled]:focus,
    &:focus,
    &.disabled:active,
    &[disabled]:active, fieldset[disabled]
    &:active, .btn-primary.disabled.active,
    &.active[disabled]
    &.active {
      background-color: #E4E4E4;
      border-color: #B4B4B4;
    }
  }
}