.modal.popup-img, .modal.swipe-gallery-popup {
  .modal-dialog {
    width: 100%;
    margin: 0px;
  }
  .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0.74) none repeat scroll 0% 0%;
    .modal-header {
      border: none;
      position: absolute;
      z-index: 2;
      right: 20px;
      top: 12px;
    }
    .modal-body {
      padding: 0px;
      .img-in-popup {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        //        background-size: auto 100%;
        background-size: auto 100%;
        background-color: #262A2F;
        background-repeat: no-repeat;
      }
    }
    .close {
      color: rgb(255, 255, 255);
      opacity: 0.7;
      font-size: 45px;
    }
    .close:hover {
      color: rgb(255, 255, 255);
      opacity: 1;
    }
  }
}