.ui-dialog.ui-widget {
  padding: 0px;
  margin-top: 0px;
  border-radius: 0px;
  background: #fff;
  border: 5px solid rgb(45, 168, 201);
  .ui-dialog-titlebar {
    border: none;
    background: none repeat scroll 0% 0% rgb(45, 168, 201);
    border-radius: 0px;
  }
  .ui-widget-content {
    color: #5C5C5C;
    .form-actions input {
      margin-left: 170px;
    }
    a {
      color: #428BCA;
    }
    .form-actions a {
      color: #ffffff;
    }
  }
}