<% layout ('/layout/main') -%>
<% block('title', title); -%>

<div class="row category-items">
    <div class="col-lg-6 col-md-7 col-sm-8">
        <div class="row image-nav">
            <ul class="nav side-nav">
                <% for (key in goods) { %>
                    <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <a href="<%- link('/goods/' + goods[key]._id) %>" class="img-nav-link">
                            <img src="/<%- goods[key].picture %>">

                            <div class="nav-block nav-tinting"></div>
                            <div class="nav-block nav-info">
                                <%- goods[key].title %>
                            </div>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-4 content-text">
        <%- category.get('description') %>
    </div>
</div>