<% layout ('/layout/main') -%>
<% block('title', title); -%>

<div class="row image-nav gallery">
    <ul class="nav side-nav">
        <% for (i=0;i<images.length;i++) { %>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <a href="/<%- images[i].full %>" class="img-nav-link popup-img-marker" data-separate="true">
                <img src="/<%- images[i].path %>" data-id="<%- images[i]._id %>" title="<%- images[i].categoryName %>" />
            </a>
        </li>
        <% } %>
    </ul>
</div>
