<% layout ('/layout/main') %>
<% block('title', title); %>


<div class="row">
    <div class="col-lg-5 col-md-6" style="padding-left: 0px; padding-right: 20px">
        <div class="swiper-container swiper-gallery home-carousel item-album-carousel">
            <div class="swiper-wrapper">
                <% for (var key in images) { %>
                <a class="swiper-slide" style="background-image:url('/<%- images[key].path %>')" href="/<%- images[key].full %>"></a>
                <% } %>
            </div>

            <div class="swiper-button-next swiper-button-white">
                <span class="hover-wrap"></span>
            </div>
            <div class="swiper-button-prev swiper-button-white">
                <span class="hover-wrap"></span>
            </div>
        </div>
    </div>
    <%- goods.description %>
</div>