body .category-nav {
  background-color: #{$header-bg-color};
  margin-top: 2px;
  border-bottom: 2px solid #{$base-bg-color};
  position: relative;
  color: #ffffff;
  webkit-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
  .nav-title {
    padding-top: 2px;
    display: inline-block;
  }
  //padding-left: 115px;
  .nav {
    &.navbar-nav {
      float: none;
    }
    li {
      .dropdown-menu {
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.176);
        border: none;
        min-width: 100%;
      }
    }
    .open {
      a {
        background-color: #B0BD1F;
      }
    }
  }
}