.contact-us-btn-wrap {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  bottom: 30%;
  right: -90px;
  z-index: 2;
  .btn {
    font-size: 16px;
    border: none;
    padding: 4px 22px 50px 22px;
    webkit-box-shadow: -4px -5px 12px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -4px -5px 12px 0px rgba(0,0,0,0.29);
    box-shadow: -4px -5px 12px 0px rgba(0,0,0,0.29);
  }

  &:hover {
    right: -70px;
  }
}