footer {
  margin-top: 100px;
  color: #ffffff;
  .footer-header {
    background-color: #{$footer-bg-color};
    height: 15px;
  }
  .footer-content {
    margin-top: 1px;
    background-color: #{$base-bg-color};
    height: #{$footer-height};
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px;
  }
}