.form {
  width: 450px;
  position: relative;
  max-width: 850px;
  &.form-popup {
    width: 100%;
  }
  .alert {
    display: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
  }
  .form-item {
    margin-bottom: 5px;
    position: relative;
//    input {
//      border: 1px solid #828C18;
//      border-radius: 0px;
//    }
    &.error {
      input {
        background-color: #FFE2E2;
        border: 1px solid #BF3031;
      }
      .messages {
        @include clear-ul();
        color: #BF3031;
        li {
          position: absolute;
          bottom: 18px;
          right: -150px;
          width: 150px;
          text-align: left;
        }
      }
    }
  }
  .form-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5;
    .buttons {
      text-align: right;
    }
  }
}
