header {
  .left-side {
    padding-top: 2px;
    .logo {
      padding-left: 0px;
      img {
        margin-left: -4px;
        width: 165px;
        margin-top: 16px;
      }
    }
    .slogan {
      text-shadow: 2px 2px 1px rgba(7, 7, 7, 0.12);
      line-height: 35px;
      font-size: 18px;
      font-family: #{$slogan-font};
      padding-left: 25px;
      margin-top: 7px;
      text-transform: uppercase;
    }
  }
  .navbar.navbar-default {
    background: #{$header-bg-color};
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    min-height: 125px;
    .navbar-header {
      .navbar-toggle {
        border: none;
        background: none;
        padding-left: 30px;
      }
    }
    .def-nav-wrapper, .navbar-collapse {
      padding: 0px;
    }
    .nav {
      margin-top: 8px;
      margin-bottom: 12px;
      li {
        .icon {
          padding-right: 5px;
          font-family: arial;
        }
        a {
          text-shadow: 2px 2px 1px rgba(7, 7, 7, 0.24);
          color: #FFF;
          border-right: 1px solid #96A11B;
          &:hover {
            color: #262A2F;
            .icon {
              color: #262A2F;
            }
          }
        }
        &:last-child a {
          border-right: none;
        }
      }
      .open {
        background-color: #9EAD1C;
        a, a:focus {
          background: none;
        }
        a:focus {
          border-color: #E7E7E7;
          color: #ffffff;
          font-weight: bold;
        }
        .dropdown-menu {
          a {
            color: #ffffff;
            padding: 12px 0px;
          }
        }
      }

    }
    .divider {
      background-color: #E7E7E7;
      font-size: 5px;
    }
    .search-form {
      margin: 5px 5px 0 5px;
      border: none;
      input[type="text"] {
        height: 30px;
        border-radius: 0px;
        border: 1px solid rgb(130, 140, 24);
      }
//      @media (min-width: 1200px) {
//        float: right;
//      }
    }
    @media (max-width: 1200px) {
      .navbar-nav {
        li {
          float: none;
          &:last-child {
            a {
              border-right: 1px solid #96A11B;
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      height: auto;
      min-height: 0px;
      a {
        padding: 12px 0px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #9BA71B;
        .icon {
          display: none;
        }
      }
      li:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}