.home-carousel.swiper-container {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #{$base-bg-color};
  height: 300px;
  width: 100%;
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 70px;
    height: 100%;
    top: 0px;
    margin-top: 0px;
    background-size: 20px auto;
    .hover-wrap {
      @include transition(0.3s);
      display: block;
      width: 70px;
      height: 300px;
      background-repeat: repeat-x;
      opacity: 0;
      position: absolute;
      top: 0px;
    }
    &.swiper-button-disabled {
      cursor: default;
    }
    &:hover {
      .hover-wrap {
        opacity: 1;
      }
    }
  }
  .swiper-button-next {
    right: 4px;
    background-position: center right;
    .hover-wrap {
      right: -4px;
      background-image: linear-gradient(to right, transparent 0px, rgba(78, 78, 78, 0.68) 100%);
    }
  }
  .swiper-button-prev {
    left: 4px;
    background-position: center left;
    .hover-wrap {
      left: -4px;
      background-image: linear-gradient(to left, transparent 0px, rgba(78, 78, 78, 0.68) 100%);
    }
  }
}