.page .image-nav {
    li {
      background-color: #{$base-bg-color};
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      height: 260px;
      padding: 0px;
      overflow: hidden;
      -webkit-box-shadow: 3px 5px 9px 0px rgba(0,0,0,0.29);
      -moz-box-shadow: 3px 5px 9px 0px rgba(0,0,0,0.29);
      box-shadow: 3px 5px 9px 0px rgba(0,0,0,0.29);
      a.img-nav-link {
        padding: 0px;
        img {
          transition: 0.5s;
          width: 100%;
          height: 260px;
          filter: #{"grayscale(100%)"};
          -webkit-filter: #{"grayscale(100%)"};
          -moz-filter: #{"grayscale(100%)"};
          -ms-filter: #{"grayscale(100%)"};
          -o-filter: #{"grayscale(100%)"};
          max-width: 165px;
          min-width: 135px;
          margin: 0px auto;
          display: block;
        }
        &:hover img {
          filter: #{"grayscale(0%)"};
          -webkit-filter: #{"grayscale(0%)"};
          -moz-filter: #{"grayscale(0%)"};
          -ms-filter: #{"grayscale(0%)"};
          -o-filter: #{"grayscale(0%)"};
        }
        .nav-tinting {
          z-index: 1;
          background-color: #000;
          opacity: 0.7;
        }
        .nav-block {
          height: 45%;
          width: 100%;
          position: absolute;
          bottom: 0px;
        }
        .nav-info {
          z-index: 2;
          color: #ffffff;
          font-size: 15px;
//          font-family: champagne-limousines;
          padding: 10px 5px;
          text-align: center;
          word-wrap: break-word;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
}


