.page {
  .page-title {
    border-bottom: 2px solid rgb(130, 140, 24);
    margin-bottom: 18px;
    margin-top: 20px;
    h1, h2, h3, h4, h5 {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }

  .descriotion-content-list {
    min-height: 300px;
  }
}

