.swipe-gallery-popup {
  .close {
    width: 100px;
    height: 100px;
    span {
      @include transition(0.3s);
    }
    &:hover {
      span {
        font-size: 100px;
      }
    }
  }
  .gallery-top {
    &.swiper-container {
      /*height: 80%;*/
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .swiper-slide {
        background-repeat: no-repeat;
        background-position: center;
//        background-size: auto 100%;
//        background-size: auto;
	background-size: auto 100%;
        background-color: #262A2F;
      }
    }
    .swiper-button-prev, .swiper-button-next {
      width: 50%;
      height: 100%;
      top: 0px;
      margin-top: 0px;
      background-size: 20px auto;
//      background-color: #b6b6b6;
//      opacity: 0;
      @include transition(0.3s);
      &.swiper-button-disabled {
        cursor: default;
      }
      &:hover {
//        opacity: 0.1;
        background-size: 40px auto;
      }
    }
    .swiper-button-next {
      right: 4px;
      background-position: center right;
    }
    .swiper-button-prev {
      left: 4px;
      background-position: center left;
    }
  }
  .gallery-thumbs {
    &.swiper-container {
      /*height: 20%;*/
      box-sizing: border-box;
      padding: 0;
      .swiper-slide {
        width: 160px;
        height: 100px;
        opacity: 0.4;
        cursor: pointer;
        background-size: 100% auto;
      }
      .swiper-slide-active,
      .swiper-slide:hover {
        opacity: 1;
      }
    }
  }
}
