<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <meta name="description" content='<%- metatags.description %>'>
    <meta name="keywords" content='<%- metatags.keywords %>'>

    <meta name="google-site-verification" content="uw9yHdaIah7dKYcEDBlecN10ReCTOUGZzDTJ6-YPk5o" />

    <title><%- metatags.title || (blocks.title)%></title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui-1.9.2.custom.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/ctc-main.css" type="text/css" media="screen"/>
</head>
<body class="page<%- (user && user.auth) ? ' logged-in' : '' %>" data-ctrl="Ctrl"
        <% for (var vName in jsValues) { %>
      data-<%- vName %>='<%- jsValues[vName] %>'
        <% } %>
        >
<div class="container-fluid contact-us-btn-wrap hidden-xs hidden-sm">
    <div class="row">
        <button type="button" class="btn btn-success text-vertical popup-form-marker" data-form-name="contact-us-form" data-title="Связаться с Нами">
            Связаться с Нами
        </button>
    </div>
</div>

<% if (typeof adminNav === 'string') { %>
    <%- adminNav %>
<% } %>

<div id="wrapper" class="container">
    <div class="row">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6 left-side">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5 logo">
                                <% if (logoFileName) { %>
                                <a href="/">
                                    <img src="/<%- logoFileName %>" alt="logo" />
                                </a>
                                <% } %>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7 slogan">
                                <% if (siteSlogan) { %>
                                    <%- siteSlogan %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <div class="row">
                            <div class="navbar navbar-default">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 def-nav-wrapper">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle btn btn-block" data-toggle="collapse"
                                                data-target="#main-navigation">
                                            <span class="sr-only">Навигация</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse" id="main-navigation">
                                        <% if (typeof menu === 'object') { %>
                                        <%- menu.navigation %>
                                        <% } %>
                                        <div class="hidden-lg hidden-sm hidden-md">
                                            <li class="divider"></li>
                                            <% if (typeof menu === 'object') { %>
                                            <%- menu.category_menu %>
                                            <% } %>
                                        </div>
                                        <form class="navbar-form navbar-right search-form" role="search">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Поиск" type="text">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--<div class="col-lg-3 col-md-4 col-sm-5 search-form" style="background-color: #000">-->
                                <!--<form>-->
                                <!--<input type="text" value="Поиск" />-->
                                <!--</form>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </header>
    </div>
    <div class="row">
        <div class="page">
            <div class="container">
                <div class="category-nav row">
                    <!--<div class="col-md-1 col-xs-2">-->
                    <!--<span class="nav-title">Продукция:</span>-->
                    <!--</div>-->
                    <div class="col-md-12 col-xs-10 hidden-sm hidden-xs">
                        <% if (typeof menu === 'object') { %>
                        <%- menu.category_menu %>
                        <% } %>
                    </div>
                </div>
                <% if (typeof isHomePage === 'undefined') { %>
                    <div class="row page-title">
                        <h3><%= blocks.title %></h3>
                    </div>
                <% } %>
                <%- body %>
            </div>
        </div>
    </div>
    <div class="row">
        <footer class="navbar-static-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row footer-header"></div>
                    <div class="row footer-content">
                        Телефоны для справок:
                        моб: <strong>+7 978 768 07 85</strong>
                        офис: <strong>(0652) 54-75-35</strong>
                        <% if (user.isAuth()) { %>
                            <a class="pull-right btn btn-link popup-form-marker" data-form-name="user-logout-form" href="/login">Выход</a>
                        <% } else { %>
                            <a class="pull-right btn btn-link popup-form-marker" data-form-name="user-login-form" href="/login">Вход</a>
                        <% } %>
                    </div>
                    <!--<div class="row footer-bottom">-->
                    <!---->
                    <!--</div>-->
                </div>
            </div>
        </footer>
    </div>
</div>

</body>

<% if (jsFileName) { %>
<script src="/js/cache/<%- jsFileName %>"></script>
<% } %>

<% if (scripts.length > 0) { %>
<% for (var key in scripts) { %>
<script src="/<%- scripts[key] %>"></script><% } %>
<% } %>
<!--<script src="/js/bootstrap/bootstrap.min.js"></script>-->
<script src="/js/swiper.jquery.min.js"></script>
<script src="/js/swiper.js"></script>
<script src="/js/google.js"></script>
<script src="/js/yandex.js"></script>

</html>
