<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <% if (field.params.link) { %><a href="/<%- field.params.link.prefix %>/<%- field.fields.id %>"><% } %>
    <img <%- (field.params.width) ? ('width="' + field.params.width + 'px"') : '' %> <%- (field.params.height) ? ('height="' + field.params.height + 'px"') : '' %> src="/<%- field.get() %>" class="field-value" />
    <% if (field.params.link) { %></a><% } %>
</div>