<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
    <a href="<%- link(field.get(), true) %>" <%- field.renderAttrs() %> ><%- field.params.title %></a>
</div>