<% if (pagesCount > 1) { %>
<nav class="pagination-wrap">
    <ul class="pagination">
        <% for(num = 1; num <= pagesCount; num++) { %>
        <li>
            <a href="#" data-page="<%- num %>" class="pager-btn<%- (num === page) ? ' active' : '' %>" >
                <%- num %>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
<% } %>