<style>
    body {
        margin-top: 30px;
    }
    .admin-nav {
        box-shadow: 0px -10px 20px 13px #000;
        font: small "Lucida Grande",Verdana,sans-serif;
        background: #101010 url("/img/admin-nav-bkg.png") repeat-x scroll left bottom;
        min-height: 27px;
        height: 27px;
        margin-top: 3px;
        padding-top: 2px;
        border: none;
        color: #FAFAFA;
    }
    .admin-nav.navbar-default .navbar-nav > li > a {
        color: #FAFAFA;
        font-size: 11px;
        padding: 0px 10px;
    }
    .admin-nav.navbar-default .navbar-nav > li > a .caret {
        margin-left: 3px;
    }
    .admin-nav.navbar-default .navbar-nav > li > a:hover,
    .admin-nav.navbar-default .navbar-nav > li > a:focus {
        color: #FAFAFA;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu {
        background: transparent none repeat scroll 0% 0%;
        border: none;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 0px;
        margin-top: 5px;
    }
    .admin-nav.navbar-default .navbar-nav .open a[data-toggle="dropdown"] {
        text-shadow: 0px 1px 0px #333;
        background: transparent url("/img/admin-nav-toolbar.png") repeat-x scroll 0px 0px;
        border-radius: 10px;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu li {
        border-top: 1px solid #323232;
        background: #45454A none repeat scroll 0% 0%;
        opacity: 0.88;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu li:first-child {
        border: none;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu li:hover {
        background-color: #111;
        opacity: 0.88;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu li a {
        font-size: 11px;
        color: #FAFAFA;
        padding: 3px 8px;
    }
    .admin-nav.navbar-default .navbar-nav .open .dropdown-menu li a:hover {
        background: none;
    }
    .form-helps .btn {
        font-size: 10px;
        border-radius: 10px;
        padding: 2px 12px 3px;
        float: left;
        margin-right: 5px;
    }
    .logout-btn {
        background: #911 url("/img/bkg-red.png") repeat-x scroll left bottom;
        border: none;
        font-size: 10px;
        border-radius: 10px;
        padding: 2px 12px 3px;
        color: #FAFAFA;
    }
    .logout-btn:hover {
        background-image: none ;
        background-color: #911;
    }

</style>
<nav class="admin-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-admin-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Admin</a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-admin-navbar-collapse">
                    <%- adminMenu %>
                </div>
            </div>
            <div class="col-md-2 form-helps">
            </div>
            <div class="col-md-1">
                <button data-form-name="user-logout-form" class="popup-form-marker btn btn-xs btn-danger logout-btn pull-right">
                    <i class="fa fa-power-off"></i>
                    Log Out
                </button>
            </div>
        </div>
    </div>
</nav>

