<% layout('layout/main') -%>
<% block('title', title) -%>

<style>
    body.dragging, body.dragging * {
        cursor: move;
    }

    .dragged {
        position: absolute;
        max-height: 200px;
        overflow: hidden;
        opacity: 0.4;
        z-index: 2000;
        background: rgba(136, 136, 136, 0.47);
    }
    ol.active {
        /*padding-bottom: 5px;*/
        /*padding-top: 5px;*/
        /*background: #f1f1f1;*/
    }
    ol.example ol li:first-child {
        margin-top: 7px;
    }
    ol.example ol li {
        /*background: none;*/
        border-left: 1px solid #ddd;
    }
    ol.example {
        padding: 0px;
        /*background: #222;*/
        min-height: 500px;
        transition: 0.2s;
        margin: 30px 100px;
    }
    ol.example a {
        /*color: #ffffff;*/
    }
    ol.example li .actions {
        border-left: 1px solid #ddd;
    }
    ol.example li {
        transition: 0.2s;
        /*position: relative;*/
        display: block;
        padding: 8px 0px 8px 8px;
        padding-left: 30px;
        /*color: #e8e8e8;*/
        cursor: move;
        /*background: #616161;*/
        /*border-bottom: 1px solid #616161;*/
        margin: 0px 0px;
        /*width: 300px;*/
        border-top: 1px solid #ddd;
        background-color: #ffffff;
        background-image: url("http://health-key.ru/misc/draggable.png");
        background-repeat: no-repeat;
        background-position: 4px -13px;
    }
    ol.example li.odd {
        background-color: #f9f9f9;
    }
    ol li:last-child {
        /*border: none;*/
    }
    ol.example li:hover {
        background-color: #f5f5f5;
        /*color: #ffffff;*/
        /*background-color: rgb(3, 12, 25);*/
    }
    /*ol.example li: {*/
        /*background-color: #fffc82;*/
    /*}*/
    ol.example li.placeholder {
        /*position: relative;*/
        position: absolute;
        border: none;
        height: 1px;
        width: 400px;
        background: #bfbfbf;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        /** More li styles **/
    }
    ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }
</style>
<script src='/js/jquery-sortable.js'></script>

<ol class='example nested_with_switch vertical'>
    <% for(var i = 0; i < 10; i++) { %>
    <li class="<%- ((i % 2) > 0) ? 'even' : 'odd'%>" data-id="<%- i %>" data-name="item-<%- i %>">
        Item <%- i %> <div class="pull-right btn-group actions"><a class="btn btn-link btn-xs" href="">view</a><a class="btn btn-link btn-xs" href="">edit</a><a class="btn btn-link btn-xs" href="">delete</a></div>
        <ol></ol>
    </li>
    <% } %>
</ol>

