<% layout('layout/main') -%>
<% block('title', title) -%>

<div class="user-view container">
    <div class="row">
        <div class="user-view-header">
            <div class="user-title">
                <h2><%- account.get('name') %></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><span class="row-title">Status:</span></td>
                    <td>
                        <% if (account.get('blocked')) { %>
                        <span class="row-value color-red">BLOCKED</span>
                        <% } else { %>
                        <span class="row-value color-green">ACTIVE</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td><span class="row-title">Account created:</span></td>
                    <td><span class="row-value"><%- account.get('created') %></span></td>
                </tr>
                <tr>
                    <td><span class="row-title">Email:</span></td>
                    <td><span class="row-value"><%- account.get('email') %></span></td>
                </tr>
                <tr>
                    <td><span class="row-title">Brithday:</span></td>
                    <td><span class="row-value"><%- account.get('profile.0.bday') %></span></td>
                </tr>
                <tr>
                    <td><span class="row-title">Gender:</span></td>
                    <td> <span class="row-value"><%- account.get('profile.0.sex') %></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    <div class="user-info-actions">
        <a class="btn btn-default" href="/admin/accounts">Back</a>
        <a data-name="adminUser" data-id="<%- account.get('id') %>" class="btn btn-primary popup-btn" href="/admin/users/view/<%- account.get('id') %>">Edit User info</a>
    </div>
    </div>
</div>