<% if (enableLayout)  { %>
<% layout ('./../../../views/layout') -%>
<% } %>

<div class="tree-wrapper<%- autosubmit ? ' autosubmit': ''%>" data-name="<%- name %>">
    <% if (!autosubmit) { %>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary tree-submit pull-right disabled">Save</button>
            </div>
        </div>
    <% } %>
    <ol class='tree-list vertical row'>
        <%- renderedList %>
    </ol>
</div>

