<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%> bool-<%- field.get() ? 'true' : 'false' %>">
    <% if (field.params.link) { %><a href="/<%- field.params.link.prefix %>/<%- field.fields.id %>"><% } %>
    <span class="field-value"><%- field.get() ? field.params['true'] : field.params['false'] %></span>
    <% if (field.params.link) { %></a><% } %>
</div>