/* 
    Created on : 14.08.2014, 12:31:12
    Author     : Blink
    Description: Main file to include all styles.
*/
/* 
    Created on : 14.08.2014, 13:09:56
    Author     : Blink
    Description: Describe custom fonts here.
*/
@font-face {
  font-family: 'custom_arial';
  src: url('../fonts//defaults/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'custom_comic_sans';
  src: url('../fonts//defaults/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'custom_segoeui';
  src: url('../fonts//defaults/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'custom_tahoma';
  src: url('../fonts//defaults/tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'custom_verdana';
  src: url('../fonts//defaults/verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoe_uiregular';
  src: url('../fonts/segoeui-webfont.eot');
  src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui-webfont.woff') format('woff'), url('../fonts/segoeui-webfont.ttf') format('truetype'), url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pistararegular';
  src: url('../fonts/pistara-webfont.eot');
  src: url('../fonts/pistara-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pistara-webfont.woff') format('woff'), url('../fonts/pistara-webfont.ttf') format('truetype'), url('../fonts/pistara-webfont.svg#pistararegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoe_uilight';
  src: url('../fonts/segoeuil-webfont.eot');
  src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeuil-webfont.woff') format('woff'), url('../fonts/segoeuil-webfont.ttf') format('truetype'), url('../fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoe_uisemibold';
  src: url('../fonts/seguisb-webfont.eot');
  src: url('../fonts/seguisb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/seguisb-webfont.woff') format('woff'), url('../fonts/seguisb-webfont.ttf') format('truetype'), url('../fonts/seguisb-webfont.svg#segoe_uisemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoe_uibold';
  src: url('../fonts/seguib-webfont.eot');
  src: url('../fonts/seguib-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/seguib-webfont.woff') format('woff'), url('../fonts/seguib-webfont.ttf') format('truetype'), url('../fonts/seguib-webfont.svg#segoe_uisemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoe_uiblack';
  src: url('../fonts/seguibl-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/* 
    Created on : 14.08.2014, 13:09:56
    Author     : Blink
    Description: Layout geometry
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: segoe_uiregular; }

body {
  min-height: 100%;
  background-repeat: no-repeat; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

.max-width, .fixed-width {
  margin: 0 auto; }

html, body, .max-width, .fixed-width {
  position: relative; }

.fixed-width {
  max-width: 100%; }

.max-width {
  max-width: 100%; }

html, body, .max-width, .fixed-width {
  min-width: 100%; }

#main {
  padding-bottom: 112px; }

footer.main {
  position: absolute;
  height: 112px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0; }
  footer.main .footer-section {
    font-size: initial;
    width: 33%;
    display: inline-block;
    vertical-align: middle; }

header.main, footer.main {
  z-index: 1; }
  header.main a, footer.main a {
    color: #fff; }

img {
  max-width: 100%;
  max-height: 100%; }

/* 
    Created on : 14.08.2014, 13:09:56
    Author     : Blink
    Description: Base style for global elements
*/
html {
  font-size: 13px;
  color: #fff; }

body {
  background-color: #000; }

a {
  color: #fff; }

.logo a {
  text-decoration: none; }
.logo .slogan {
  font-size: 18px;
  font-size: 1.38462rem;
  font-family: pistararegular;
  vertical-align: middle;
  text-transform: uppercase; }

header.main {
  background-color: #01394b; }
  header.main .content-table {
    display: table;
    width: 100%; }
    header.main .content-table .header-section {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 39%;
      font-size: 13px;
      font-size: 1rem; }
      header.main .content-table .header-section:first-child {
        text-align: left;
        width: 30.5%; }
      header.main .content-table .header-section:last-child {
        text-align: right;
        width: 30.5%; }

footer.main {
  background-color: transparent;
  color: #414851;
  text-align: right;
  font-size: 8px;
  font-size: 0.61538rem;
  line-height: 7px; }
  footer.main .content {
    padding: 0 1px; }

footer.main .content {
  padding: 1px 0;
  zoom: 1; }
  footer.main .content:before, footer.main .content:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  footer.main .content:after {
    clear: both; }

header.main .content {
  padding: 0; }
header.main.hover {
  position: relative; }
  header.main.hover .content {
    height: 0px;
    -webkit-transition: all 0.1s ease 0.1s;
    -moz-transition: all 0.1s ease 0.1s;
    -o-transition: all 0.1s ease 0.1s;
    -ms-transition: all 0.1s ease 0.1s;
    transition: all 0.1s ease 0.1s;
    overflow: hidden; }
  header.main.hover .pointer {
    background-position: left 5px center;
    background-repeat: no-repeat;
    height: 13px;
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    -webkit-transition: all 0.1s ease 0.1s;
    -moz-transition: all 0.1s ease 0.1s;
    -o-transition: all 0.1s ease 0.1s;
    -ms-transition: all 0.1s ease 0.1s;
    transition: all 0.1s ease 0.1s; }
    header.main.hover .pointer:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border-style: solid;
      border-color: #00fffc transparent transparent;
      border-width: 10px 6px 0;
      left: 50%;
      margin-left: -6px;
      position: absolute;
      top: 0; }
  header.main.hover.open .content {
    height: 40px; }
  header.main.hover.open .pointer {
    height: 0; }

.header-section {
  display: inline-block; }

.side-wrap {
  zoom: 1; }
  .side-wrap:before, .side-wrap:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .side-wrap:after {
    clear: both; }

.side {
  display: inline-block; }
  .side .side-inner {
    padding: 20px; }

.page-section.with-sidebar {
  position: relative; }

nav {
  text-align: center;
  line-height: 19px; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      list-style: none outside none; }
  nav li {
    display: inline-block;
    position: relative; }
    nav li.active a {
      font-family: segoe_uisemibold; }
  nav a {
    display: block;
    padding: 0 6px;
    font-family: segoe_uilight;
    text-decoration: none; }
    nav a:hover {
      color: #00fcff; }
  nav.nav-main {
    font-size: 15px;
    font-size: 1.15385rem; }
    nav.nav-main li {
      margin: 0 10px; }

footer.main {
  background-color: #060d0e; }

img, .inline-helper {
  vertical-align: middle;
  display: inline-block; }

.inline-helper {
  height: 100%; }

.sub-header {
  text-align: center; }
  .sub-header .logo {
    margin: 0 50px; }

/* 
    Created on : 14.08.2014, 12:52:00
    Author     : Blink
    Description: Shared styles
*/
a.btn {
  display: inline-block;
  padding: 7px 40px;
  cursor: pointer;
  line-height: 17px; }

.btn, input[type='submit'], button {
  background-color: #097bdc;
  border: 0 none;
  text-align: center;
  padding: 8px;
  min-width: 70px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: segoe_uilight;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.15385rem;
  line-height: 18px;
  line-height: 1.38462rem;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .btn:hover, input[type='submit']:hover, button:hover {
    background-color: #01569d; }
  .btn.btn:hover, input[type='submit'].btn:hover, button.btn:hover {
    color: #00fffc; }
  .btn.btn-secondary, input[type='submit'].btn-secondary, button.btn-secondary {
    background-color: #F5730B; }
  .btn.btn-primary, input[type='submit'].btn-primary, button.btn-primary {
    background-color: #30bf09;
    font-family: segoe_uibold; }
    .btn.btn-primary:hover, input[type='submit'].btn-primary:hover, button.btn-primary:hover {
      background-color: #0d8516; }
  .btn.btn-transparent, input[type='submit'].btn-transparent, button.btn-transparent {
    background-color: transparent; }
  .btn.btn-red, input[type='submit'].btn-red, button.btn-red {
    background-color: #f03b44; }
    .btn.btn-red:hover, input[type='submit'].btn-red:hover, button.btn-red:hover {
      background-color: #c51c24; }
  .btn.btn-yellow, input[type='submit'].btn-yellow, button.btn-yellow {
    background-color: #ebf904; }
    .btn.btn-yellow:hover, input[type='submit'].btn-yellow:hover, button.btn-yellow:hover {
      background-color: #f9b104; }
  .btn.btn-orange, input[type='submit'].btn-orange, button.btn-orange {
    background-color: #f5730b;
    color: #07121e; }
    .btn.btn-orange:hover, input[type='submit'].btn-orange:hover, button.btn-orange:hover {
      background-color: #c35e0e; }
  .btn.btn-checkbox, input[type='submit'].btn-checkbox, button.btn-checkbox {
    background-color: #15373e; }
    .btn.btn-checkbox:hover, input[type='submit'].btn-checkbox:hover, button.btn-checkbox:hover {
      background-color: #07121e; }

input[type='text'], input[type='password'], textarea {
  padding: 4px;
  border: 0 none;
  background-color: #6886a8; }

.btn-load-more {
  display: block;
  cursor: pointer;
  background-color: #474f58;
  text-align: center;
  text-transform: uppercase;
  font-family: segoe_uilight;
  text-decoration: none;
  font-size: 10.62px;
  font-size: 0.81692rem;
  line-height: 12px;
  line-height: 0.92308rem; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: rgba(9, 123, 220, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4); }

html body .custom-ui-slider {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 none;
  height: 5px; }
  html body .custom-ui-slider .ui-slider-handle {
    border: 0 none;
    top: -0.4em;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
    html body .custom-ui-slider .ui-slider-handle.ui-state-default {
      background-image: none;
      background-color: #11728a; }

.styledcheckbox input[type='checkbox'] {
  display: none; }
  .styledcheckbox input[type='checkbox'] + label {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: right 2px center;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
    background-image: url("../img/icon-checkbox-off.png"); }
  .styledcheckbox input[type='checkbox']:checked + label {
    background-image: url("../img/icon-checkbox-on.png"); }

.color-red {
  color: red; }

.color-green {
  color: green; }

.color-gray {
  color: gray; }

.color-yellow {
  color: #ffff00; }

.font-bold {
  font-weight: bold; }

/* 
    Created on : 14.08.2014, 16:25:06
    Author     : Blink
*/
.users {
  margin: 0;
  padding: 0;
  zoom: 1; }
  .users li {
    list-style: none outside none; }
  .users:before, .users:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .users:after {
    clear: both; }
  .users .user-item {
    zoom: 1;
    margin-bottom: 5px; }
    .users .user-item:before, .users .user-item:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .users .user-item:after {
      clear: both; }
    .users .user-item > .side {
      display: inline-block;
      vertical-align: middle;
      font-size: 0; }
      .users .user-item > .side > .side {
        zoom: 1;
        display: inline-block;
        vertical-align: middle; }
        .users .user-item > .side > .side:before, .users .user-item > .side > .side:after {
          content: ".";
          display: block;
          height: 0;
          overflow: hidden; }
        .users .user-item > .side > .side:after {
          clear: both; }
        .users .user-item > .side > .side.left-side {
          width: 60px; }
    .users .user-item > .left-side {
      width: 25%;
      max-width: 50px; }
    .users .user-item > .right-side {
      width: 75%; }
    .users .user-item .user-item-statuses {
      text-align: left;
      padding: 2px; }
    .users .user-item .user-item-status {
      width: 25px;
      height: 31px;
      vertical-align: middle;
      padding: 5px;
      display: none; }
    .users .user-item .user-item-status-pm {
      color: #f6ff00;
      font-size: 12.5px;
      font-size: 0.96154rem;
      font-family: segoe_uisemibold; }
    .users .user-item .user-item-name {
      font-family: segoe_uilight;
      font-size: 16.67px;
      font-size: 1.28231rem; }
    .users .user-item.user-item-cam .user-item-status-cam {
      display: inline-block;
      background-image: url("../img/icon-status-cam.png");
      background-repeat: no-repeat;
      background-position: center center; }
    .users .user-item.user-item-pm .user-item-status-pm {
      display: inline-block; }

/* 
    Created on : 14.08.2014, 16:43:23
    Author     : Blink
*/
.user .btn {
  padding: 9px 6px 10px 6px;
  vertical-align: middle; }
.user .logout-form {
  display: inline-block; }
  .user .logout-form input {
    cursor: pointer; }

.logged-in .user .user-section {
  vertical-align: middle;
  background-color: #081825;
  margin-right: 2px;
  display: inline-block;
  padding: 2px 9px;
  min-height: 38px;
  line-height: 11px;
  font-size: 12px;
  font-size: 0.92308rem;
  font-family: segoe_uilight; }
.logged-in .user .balance {
  font-family: segoe_uibold;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
  font-size: 1.15385rem; }
  .logged-in .user .balance .label, .logged-in .user .balance .value {
    display: block; }
.logged-in .active {
  color: #00ff00;
  font-family: segoe_uisemibold; }

/* 
    Created on : 14.08.2014, 17:40:00
    Author     : Blink
*/
.side-bar {
  position: absolute;
  top: 246px;
  right: 0; }
  .side-bar ul {
    margin: 0;
    padding: 0; }
    .side-bar ul li {
      list-style: none outside none; }
  .side-bar > ul > li {
    background-color: #15373e;
    padding: 3px;
    position: relative;
    margin-bottom: 1px; }
    .side-bar > ul > li:hover .expanded {
      display: block; }
  .side-bar .expanded {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #15373e; }
    .side-bar .expanded .expanden-inner {
      padding: 3px; }
  .side-bar .count {
    background-color: #ffcc00;
    position: absolute;
    bottom: 3px;
    right: 2px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 0 5px;
    font-family: segoe_uibold;
    font-size: 12.5px;
    font-size: 0.96154rem;
    text-align: center;
    color: #000; }
  .side-bar a {
    background-repeat: no-repeat;
    background-position: center center; }
  .side-bar .hasTooltip .tooltip {
    right: 100%;
    top: 50%;
    margin-top: -9px;
    left: auto; }
  .side-bar.expandable {
    position: static; }
    .side-bar.expandable .slide, .side-bar.expandable .show-slide {
      top: 72px;
      -webkit-transition: all 0.2s ease 0.2s;
      -moz-transition: all 0.2s ease 0.2s;
      -o-transition: all 0.2s ease 0.2s;
      -ms-transition: all 0.2s ease 0.2s;
      transition: all 0.2s ease 0.2s;
      z-index: 1; }
    .side-bar.expandable .show-slide {
      background-image: linear-gradient(bottom, #011416 0%, #203131 50%, #011416 100%);
      background-image: -o-linear-gradient(bottom, #011416 0%, #203131 50%, #011416 100%);
      background-image: -moz-linear-gradient(bottom, #011416 0%, #203131 50%, #011416 100%);
      background-image: -webkit-linear-gradient(bottom, #011416 0%, #203131 50%, #011416 100%);
      background-image: -ms-linear-gradient(bottom, #011416 0%, #203131 50%, #011416 100%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #011416), color-stop(0.5, #203131), color-stop(1, #011416));
      width: 7px;
      height: 390px;
      position: absolute;
      right: 0;
      cursor: pointer;
      opacity: 1; }
      .side-bar.expandable .show-slide:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 50%;
        margin-left: -3px;
        top: 50%;
        margin-top: -2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3.5px 6px 3.5px 0;
        border-color: transparent #77b2d5 transparent transparent; }
    .side-bar.expandable .slide {
      right: -100%;
      top: 20px;
      position: absolute;
      opacity: 0; }
    .side-bar.expandable.show .slide {
      right: 0;
      opacity: 1; }
    .side-bar.expandable.show .show-slide {
      opacity: 0;
      visibility: hidden; }
  .side-bar.side-bar-main .links a {
    text-decoration: none; }
  .side-bar.side-bar-main .links > a {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url("../img/icon-link.png"); }
  .side-bar.side-bar-main .links .expanded {
    background-color: #081417; }
  .side-bar.side-bar-main .links ul {
    padding: 2px 23px; }
  .side-bar.side-bar-main .links li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .side-bar.side-bar-chat .slide {
    right: -42px; }
  .side-bar.side-bar-chat .slide, .side-bar.side-bar-chat .show-slide {
    -webkit-box-shadow: -1px 0px 3px 3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: -1px 0px 3px 3px rgba(0, 0, 0, 0.31);
    box-shadow: -1px 0px 3px 3px rgba(0, 0, 0, 0.31); }
  .side-bar.side-bar-chat li {
    padding: 0; }
    .side-bar.side-bar-chat li a {
      width: 42px;
      height: 38px;
      display: block;
      background-position: center center; }
      .side-bar.side-bar-chat li a:hover {
        background-color: #245059; }
    .side-bar.side-bar-chat li.side-group a {
      background-image: url("../img/icon-usergroup.png"); }
      .side-bar.side-bar-chat li.side-group a:hover {
        background-image: url("../img/icon-usergroup-hover.png"); }
    .side-bar.side-bar-chat li.side-cam2cam a {
      background-image: url("../img/icon-usergroup.png"); }
      .side-bar.side-bar-chat li.side-cam2cam a:hover {
        background-image: url("../img/icon-usergroup-hover.png"); }
    .side-bar.side-bar-chat li.side-chat a {
      background-image: url("../img/icon-chat.png"); }
      .side-bar.side-bar-chat li.side-chat a:hover {
        background-image: url("../img/icon-chat-hover.png"); }
    .side-bar.side-bar-chat li.side-others a {
      background-image: url("../img/icon-others.png"); }
      .side-bar.side-bar-chat li.side-others a:hover {
        background-image: url("../img/icon-others-hover.png"); }
    .side-bar.side-bar-chat li.side-userlist a {
      background-image: url("../img/icon-userlist.png"); }
      .side-bar.side-bar-chat li.side-userlist a:hover {
        background-image: url("../img/icon-userlist-hover.png"); }
    .side-bar.side-bar-chat li.side-profile a {
      background-image: url("../img/icon-profile.png"); }
      .side-bar.side-bar-chat li.side-profile a:hover {
        background-image: url("../img/icon-profile-hover.png"); }
    .side-bar.side-bar-chat li.side-pics a {
      background-image: url("../img/icon-pics.png"); }
      .side-bar.side-bar-chat li.side-pics a:hover {
        background-image: url("../img/icon-pics-hover.png"); }
    .side-bar.side-bar-chat li.side-addcredits a {
      background-image: url("../img/icon-addcredits.png"); }
      .side-bar.side-bar-chat li.side-addcredits a:hover {
        background-image: url("../img/icon-addcredits-hover.png"); }
    .side-bar.side-bar-chat li.side-tip a {
      background-image: url("../img/icon-tip.png"); }
      .side-bar.side-bar-chat li.side-tip a:hover {
        background-image: url("../img/icon-tip-hover.png"); }
    .side-bar.side-bar-chat li.side-end a {
      background-image: url("../img/icon-end.png"); }
      .side-bar.side-bar-chat li.side-end a:hover {
        background-image: url("../img/icon-end-hover.png"); }
    .side-bar.side-bar-chat li.side-clearchat a {
      background-image: url("../img/icon-clearchat.png"); }
      .side-bar.side-bar-chat li.side-clearchat a:hover {
        background-image: url("../img/icon-clearchat-hover.png"); }
    .side-bar.side-bar-chat li.side-hide a {
      background-image: url("../img/icon-hide.png"); }
      .side-bar.side-bar-chat li.side-hide a:hover {
        background-image: url("../img/icon-hide-hover.png"); }
    .side-bar.side-bar-chat li.side-settings a {
      background-image: url("../img/icon-settings.png"); }
      .side-bar.side-bar-chat li.side-settings a:hover {
        background-image: url("../img/icon-settings-hover.png"); }

.system-message {
  color: green;
  font-size: 12px;
  margin: 0px 0 15px 0;
  text-align: center;
  width: 100%; }

.ui-tabs {
  border: none; }
  .ui-tabs .ui-tabs-nav {
    border: none;
    border-bottom: 1px solid #333; }

footer .footer-note, footer .footer-links {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  footer .footer-note a, footer .footer-links a {
    text-decoration: none; }
footer .footer-note {
  font-size: 12px;
  margin-bottom: 21px; }
  footer .footer-note a {
    color: #414851; }
footer .footer-links {
  font-size: 14px; }
  footer .footer-links ul {
    margin: 0;
    padding: 0; }
    footer .footer-links ul li {
      list-style: none outside none; }
  footer .footer-links li {
    display: inline-block;
    position: relative;
    padding: 10px 30px 20px 30px; }
footer .copy-right {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  font-size: 11px;
  text-align: left;
  padding: 8px 0; }
  footer .copy-right .copy-right-symbol {
    font-size: 12px; }
footer .zombaio {
  margin: -10px 0 22px 0;
  text-align: center;
  color: #fff;
  font-size: 11px; }
footer .rta {
  float: right;
  margin-top: -6px; }

.page-content {
  width: 960px;
  margin: 10px auto 50px auto;
  padding: 20px 10px;
  background: #0B0C0D;
  color: #CECFD3; }
  .page-content .page-title {
    text-align: center;
    font-size: 23px; }
    .page-content .page-title a {
      color: #DFE1E7;
      text-decoration: none;
      font-size: 13px; }

/* 
    Created on : 26.08.2014, 22:48:37
    Author     : Blink
*/
.form {
  color: #20a8ff;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left 10px top 85px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #057cfd;
  font-family: segoe_uilight; }
  .form .form-register-content {
    padding-left: 160px; }
  .form h1 {
    color: #00deff;
    font-family: segoe_uisemibold;
    font-weight: normal;
    font-size: 24px;
    font-size: 1.84615rem;
    text-align: center;
    margin: 0; }
  .form select {
    cursor: pointer; }
  .form input[type='text'], .form input[type='email'], .form input[type='password'], .form select {
    width: 208px;
    color: initial; }
  .form .warning {
    color: #ff0066;
    text-align: center;
    margin-bottom: 30px; }
  .form label {
    display: inline-block;
    font-size: 16.37px;
    font-size: 1.25923rem;
    width: 167px;
    text-align: right;
    margin-right: 10px;
    line-height: 14px;
    vertical-align: middle; }
  .form .form-item-desc {
    color: #fff;
    display: block;
    font-size: 10.39px;
    font-size: 0.79923rem; }
  .form .messages {
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 14px;
    font-size: 10.39px;
    font-size: 0.79923rem; }
    .form .messages li {
      list-style: none outside none; }
  .form .error input {
    background-color: #fd86a2;
    border: 1px solid #ff0054; }
  .form .error .messages {
    color: #ff0048; }
  .form .form-item {
    margin-bottom: 22px;
    padding-right: 52px;
    position: relative; }
    .form .form-item .validator {
      width: 50px;
      height: 34px;
      position: absolute;
      top: -5px;
      right: -5px;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-validator-ok.png"); }
    .form .form-item.error .validator {
      background-image: url("../img/icon-validator-error.png"); }
    .form .form-item .progress-wrap {
      height: 5px;
      margin: 2px 0 0 181px;
      position: relative; }
      .form .form-item .progress-wrap .bar {
        display: none;
        height: 100%;
        width: 0%;
        background-color: #0ED837; }
    .form .form-item.checkbox input {
      margin-left: 167px; }
    .form .form-item.checkbox label {
      width: auto;
      padding-left: 20px;
      margin-top: -3px; }
  .form .form-item-agree {
    text-align: right; }
    .form .form-item-agree label, .form .form-item-agree input {
      vertical-align: middle; }
    .form .form-item-agree label {
      display: inline;
      font-size: 12.12px;
      font-size: 0.93231rem;
      color: #f5730b;
      text-align: left; }
  .form .form-actions {
    text-align: right;
    padding-right: 50px;
    margin-bottom: 22px; }
    .form .form-actions input[type='submit'], .form .form-actions button {
      min-width: 140px;
      padding: 4px 10px;
      height: 30px;
      cursor: pointer; }
      .form .form-actions input[type='submit'][disabled='disabled'], .form .form-actions button[disabled='disabled'] {
        background-color: #3A413A;
        color: #576E5A; }
    .form .form-actions input[type='submit'] {
      margin-right: 10px; }
  .form .cke {
    margin-left: 167px; }
  .form .radios-wrapper input[type="radio"] {
    display: none; }
  .form .radios-wrapper input[type="radio"] + label span.radio-name {
    border-radius: 9px;
    border: 3px solid #00DEFF;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: #474F58;
    cursor: pointer; }
  .form .radios-wrapper input[type="radio"]:checked + label span.radio-name {
    background: #30bf09; }

.register-popup-form:after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 71px;
  height: 58px;
  background-image: url("../img/icon-18.png");
  top: 20px;
  left: 10px;
  position: absolute; }

.form-zombaio-credits.form {
  color: #ffffff;
  border: none; }
  .form-zombaio-credits.form h1 {
    color: #ffffff;
    font-family: segoe_uiblack; }
  .form-zombaio-credits.form input[type="radio"] + label {
    width: 100%;
    text-align: left;
    font-size: 20px; }
    .form-zombaio-credits.form input[type="radio"] + label span.radio-name {
      float: right;
      width: 90px;
      padding: 5px 10px;
      height: auto;
      border-radius: 0px;
      border: 1px solid #000000;
      color: #000000;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      background: #ffffff;
      text-align: center; }
    .form-zombaio-credits.form input[type="radio"] + label span.font-bold {
      font-family: segoe_uiblack; }
  .form-zombaio-credits.form input[type="radio"]:checked + label span.radio-name {
    background: #474F58;
    color: #ffffff; }
  .form-zombaio-credits.form .form-item.radios {
    padding-right: 0px;
    font-family: segoe_uisemibold; }
  .form-zombaio-credits.form .radios-wrapper .form-control {
    margin-bottom: 20px; }

/* 
    Created on : 20.08.2014, 0:05:43
    Author     : Blink
*/
.form-register {
  background-image: url("../img/bg-register.png"); }
  .form-register .form-register-content {
    padding-left: 160px; }

.register-popup-form:after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 71px;
  height: 58px;
  background-image: url("../img/icon-18.png");
  top: 20px;
  left: 10px;
  position: absolute; }
.register-popup-form .form-item.form-item-agree.checkbox input {
  margin: 0px; }
.register-popup-form .form-item.form-item-agree.checkbox label {
  width: 167px;
  padding: 0px;
  margin: 0px; }

.form-profile.form {
  width: 600px;
  margin: 0 auto; }

/* 
    Created on : 20.08.2014, 0:05:43
    Author     : Blink
*/
.form-login {
  background-position: left 23px top 15px;
  background-image: url("../img/bg-login.png"); }
  .form-login label {
    width: 87px; }
  .form-login .form-item {
    padding-right: 37px; }
  .form-login .form-item-agree, .form-login .form-actions {
    float: left;
    width: 50%;
    padding-right: 0; }
  .form-login .form-item-agree label {
    color: #fff; }
  .form-login .form-content {
    width: 346px;
    margin: 0 auto; }
    .form-login .form-content form {
      zoom: 1;
      margin-bottom: 13px;
      border-bottom: 1px solid #00ffff; }
      .form-login .form-content form:before, .form-login .form-content form:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden; }
      .form-login .form-content form:after {
        clear: both; }
  .form-login .sub-content {
    text-align: right;
    line-height: 15.3px; }
    .form-login .sub-content a {
      font-family: segoe_uilight;
      font-size: 12px;
      font-size: 0.92308rem;
      color: #eaff00;
      text-decoration: none; }
    .form-login .sub-content ul {
      margin: 0;
      padding: 0; }
      .form-login .sub-content ul li {
        list-style: none outside none; }
  .form-login .form-actions {
    width: 100%;
    padding-right: 40px; }

.register-popup-form:after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 71px;
  height: 58px;
  background-image: url("../img/icon-18.png");
  top: 20px;
  left: 10px;
  position: absolute; }

/* 
    Created on : 14.08.2014, 20:13:37
    Author     : Blink
*/
.ui-resizable-e {
  width: 6px;
  right: -3px; }
  .ui-resizable-e:after {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 24px;
    left: 0;
    top: 50%;
    margin-top: -12px;
    background-image: url("../img/icon-stretch.png"); }

/* 
    Created on : 06.08.2014, 14:48:48
    Author     : Blink
    Description: Overwrite base bsslider styles.
*/
.bx-wrapper .bx-viewport {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0; }

.bx-wrapper .bx-viewport {
  background-color: transparent;
  border: 0 none; }

.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background-image: none;
  overflow: hidden;
  width: 0;
  height: 0;
  border-style: solid; }

.bx-wrapper .bx-prev {
  border-width: 11px 18px 11px 0;
  border-color: transparent #a3a3a3 transparent transparent; }
  .bx-wrapper .bx-prev:hover {
    border-color: transparent #fff transparent transparent; }

.bx-wrapper .bx-next {
  border-width: 11px 0 11px 18px;
  border-color: transparent transparent transparent #a3a3a3; }
  .bx-wrapper .bx-next:hover {
    border-color: transparent transparent transparent #fff; }

.bx-wrapper .bx-controls-direction a.bx-prev, .bx-wrapper .bx-controls-direction a.bx-next {
  width: 0;
  height: 0;
  top: auto;
  margin-top: auto; }

.bx-wrapper .bx-pager {
  bottom: 0; }

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 17px;
  height: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  -moz-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  background-color: #000;
  border: 2px solid #000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #35a6b7;
    border-color: #35a6b7; }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #fff;
    border-color: #b4aa97; }

.bxpager {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  margin: 8px 1px; }
  .bxpager li {
    list-style: none outside none; }
  .bxpager a {
    display: block;
    height: 102px;
    width: 133px;
    text-align: center;
    border: 1px solid transparent; }
    .bxpager a.active {
      border: 1px solid #00e4ff; }
  .bxpager li {
    display: inline-block;
    margin-right: 3px; }

/* 
    Created on : 14.08.2014, 20:13:37
    Author     : Blink
*/
.ui-widget-content {
  background-image: none;
  background-color: #07121e; }

.ui-widget-header {
  background-image: none;
  background-color: #07121e; }

.ui-corner-all {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.ui-dialog.ui-widget-content {
  border: 2px solid #474f58; }

.ui-dialog-titlebar {
  border: 0 none;
  background-color: #474f58; }

.ui-dialog .ui-dialog-titlebar-close span {
  background-position: center center;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-image: url("../img/icon-close-popup.png"); }

.ui-dialog .ui-dialog-titlebar-close {
  border: 0 none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  margin-top: -14px; }
  .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
    border: 0 none;
    background-color: transparent;
    background-image: none; }

.ui-dialog .ui-dialog-content {
  padding: 0;
  background: none; }

.ui-dialog {
  padding: 0; }

.ui-widget-overlay {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.9); }

/* 
    Created on : 12.08.2014, 21:42:14
    Author     : Blink
*/
select.hasCustomSelect {
  z-index: 1;
  min-width: 70px; }
  select.hasCustomSelect option {
    font-size: 13px;
    font-size: 1rem; }

.customSelect {
  padding: 5px 30px 3px 10px;
  background-color: #2b82a6;
  color: #fff;
  font-family: segoe_uisemibold;
  vertical-align: middle;
  position: relative;
  z-index: 0; }
  .customSelect:after {
    content: "";
    display: block;
    margin-top: -7px;
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #07121e transparent transparent transparent; }

.customSelectInner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-size: 1rem; }

.ui-tabs li.ui-corner-top {
  border-radius: 0px; }

.view-box .view-table table {
  width: 100%; }
  .view-box .view-table table thead {
    height: 35px;
    background-color: #000000;
    text-transform: uppercase; }
    .view-box .view-table table thead th {
      border-left: 1px solid #333;
      border-bottom: 2px solid #333;
      font-weight: bold; }
      .view-box .view-table table thead th:first-child {
        border-left: none; }
  .view-box .view-table table tbody {
    color: #CCC; }
  .view-box .view-table table a {
    text-decoration: none; }
    .view-box .view-table table a:hover {
      text-decoration: underline;
      color: #0185dd; }
  .view-box .view-table table tr.even, .view-box .view-table table th.even {
    background-color: #101010; }
  .view-box .view-table table tr.odd, .view-box .view-table table th.odd {
    background-color: #202020; }
  .view-box .view-table table tbody tr:hover {
    background-color: #000000;
    color: #ffffff; }
  .view-box .view-table table td {
    padding: 3px 20px;
    text-align: center;
    border-bottom: 1px solid #333; }
    .view-box .view-table table td .field-image-type {
      float: left; }
  .view-box .view-table table td:first-child {
    padding-left: 0px; }
  .view-box .view-table table td:last-child {
    padding-right: 0px; }

.view-box ul.view-menu {
  margin: 0;
  padding: 0; }
  .view-box ul.view-menu li {
    list-style: none outside none; }
  .view-box ul.view-menu li {
    display: inline-block; }

.view-box .pagination ul {
  text-align: center; }
  .view-box .pagination ul li {
    display: inline-block; }
    .view-box .pagination ul li a {
      text-decoration: none;
      padding: 5px; }
      .view-box .pagination ul li a.active {
        cursor: default;
        font-weight: bold; }

/* 
    Created on : 14.08.2014, 13:09:56
    Author     : Blink
    Description: Specified style for home page
*/
.profile-page .profile-tabs {
  min-height: 500px;
  width: 1300px;
  margin: 0 auto; }
.profile-page .user-picture {
  width: 250px;
  float: right; }
.profile-page .ui-tabs-panel {
  padding: 30px 10px 10px 30px; }
.profile-page .profile-row {
  line-height: 21px; }
  .profile-page .profile-row .label {
    font-weight: bold;
    font-weight: bold;
    width: 100px;
    display: inline-block; }

.admin {
  margin: 30px 50px;
  position: relative; }
  .admin .admin-left-side {
    width: 12%;
    min-width: 160px;
    background-color: #15373e; }
    .admin .admin-left-side, .admin .admin-left-side a {
      color: #00fff0; }
    .admin .admin-left-side a {
      text-decoration: none;
      text-transform: uppercase; }
      .admin .admin-left-side a:hover {
        color: #fff; }
    .admin .admin-left-side ul {
      margin: 0;
      padding: 0; }
      .admin .admin-left-side ul li {
        list-style: none outside none; }
  .admin .admin-right-side {
    width: 87%;
    background-color: #07121e; }
  .admin .view-box .bool-true, .admin .view-box .bool-true a, .admin .view-box .bool-true a:hover {
    color: #83E683; }
  .admin .view-box .bool-false, .admin .view-box .bool-false a, .admin .view-box .bool-false a:hover {
    color: #FF5C5C; }
  .admin .view-box .bool-true a.disabled, .admin .view-box .bool-false a.disabled, .admin .view-box .bool-true a.disabled:hover, .admin .view-box .bool-false a.disabled:hover {
    color: #e9e9e9;
    text-decoration: none;
    cursor: progress; }
  .admin .user-view {
    padding-left: 20px;
    position: relative; }
    .admin .user-view .left-side {
      padding: 0 130px 50px 25px;
      background-color: #060F18; }
      .admin .user-view .left-side .user-view-header .user-title, .admin .user-view .left-side .user-view-header .user-tabs {
        display: inline-block;
        width: 40%; }
        .admin .user-view .left-side .user-view-header .user-title a.btn, .admin .user-view .left-side .user-view-header .user-tabs a.btn {
          padding: 7px 10px; }
      .admin .user-view .left-side .row {
        font-size: 14px;
        background-color: #05080B;
        padding: 0 100px 0 15px; }
        .admin .user-view .left-side .row.even {
          background-color: #0B1218; }
        .admin .user-view .left-side .row .row-title {
          width: 140px;
          text-align: left;
          display: inline-block; }
      .admin .user-view .left-side .user-info-actions {
        margin-top: 50px; }
    .admin .user-view .right-side {
      padding: 0 10px 0 0;
      /* width: 50%; */
      float: right; }
      .admin .user-view .right-side .picture-wrap {
        width: 320px;
        position: relative; }
        .admin .user-view .right-side .picture-wrap img {
          padding: 0px 1px 1px 0px; }
        .admin .user-view .right-side .picture-wrap .user-picture {
          width: 100%; }
        .admin .user-view .right-side .picture-wrap .user-album-item {
          width: 50%;
          float: left; }
        .admin .user-view .right-side .picture-wrap .user-album-item:first-child {
          display: none;
          border-right: #ffffff 1px solid; }
  .admin .view-user-adminList {
    margin-top: 10px; }
    .admin .view-user-adminList table .user-blocked-field.bool-true {
      color: #FF5C5C; }
    .admin .view-user-adminList table .user-blocked-field.bool-false {
      color: #83E683; }
    .admin .view-user-adminList table .user-payoutDue-field {
      font-weight: bold;
      color: #EEEE02; }
  .admin .form-edit-user .form-item.blocked-checkbox input {
    margin-left: 4px; }
  .admin .form-edit-user .form-item.blocked-checkbox label {
    float: left; }
  .admin .admin-header {
    color: #20a8ff;
    text-align: center; }
  .admin .admin-side {
    padding: 10px 10px;
    min-height: 1000px; }
  .admin .side {
    vertical-align: top; }

/* 
    Created on : 14.08.2014, 12:10:22
    Author     : Blink
    Description: Media queries.
*/
@media (max-width: 1024px) {
  .fixed-width {
    max-width: 100%; }
  .max-width {
    max-width: 100%; }
  html, body, .max-width, .fixed-width {
    min-width: 100%; } }

@media (max-width: 780px) {
  html {
    font-size: 12px; } }

@media (max-width: 640px) {
  html {
    font-size: 10px; } }

@media (max-width: 320px) { }

@media (max-width: 240px) {
  .fixed-width {
    max-width: 240px; }
  .max-width {
    max-width: 240px; }
  html, body, .max-width, .fixed-width {
    min-width: 240px; } }
