<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
    <div class="col-md-2">
        <label for="<%- id %>">
            <%- field.title %>
            <% if (field.required) { %>
            <span class="required"></span>
            <% } %>
            <span class="form-item-desc">
                <% if (field.description) { %>
                <%- field.description %>
                <% } %>
            </span>
        </label>
    </div>
    <% } %>
    <div class="col-md-1<%- field.title ? '0' : '2' %>">
        <div class="row">
            <div class="col-md-12">
                <input type="file" name="<%- field.name %>" class="form-control file-field" id="<%- id %>"<%- field.multiple ? ' multiple' : '' %> <%- (field.required) ? 'required ' : '' %>>
            </div>
        </div>
        <div class="row">
            <div class="previews col-md-12">
                <%- field.previews %>
            </div>
        </div>
    </div>
</div>