<% var defaultValue = field.value || false %>
<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
        <div class="col-md-2">
            <label for="<%- id %>">
                <%- field.title %>
                <% if (field.required) { %>
                <span class="required"></span>
                <% } %>
                <span class="form-item-desc">
                    <% if (field.description) { %>
                    <%- field.description %>
                    <% } %>
                </span>
            </label>
        </div>
    <% } %>
    <div class="col-md-1<%- field.title ? '0' : '2' %>">
        <select name="<%- field.name %>" class="form-control" id="<%- id %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- (field.required) ? 'required ' : '' %>>
            <% for (var itemID in field.items) { %>
            <option<%- (defaultValue == itemID) ? ' selected="selected"' : '' %> value="<%- itemID %>"><%- field.items[itemID] %></option>
            <% } %>
        </select>
    </div>
</div>