<div class="row <%- field.getClasses() %>">
    <!--<div class="col-md-2">-->
        <!---->
    <!--</div>-->
    <div class="col-md-12">
        <% if (field.title) { %>
            <label for="<%- id %>">
                <%- field.title %>
                <% if (field.required) { %>
                <span class="required"></span>
                <% } %>
            </label>
        <% } %>
        <textarea rows="<%- field.rows %>" cols="90" name="<%- field.name %>" class="form-control" id="<%- id %>" active-validate="<%- Boolean(field.activeValidate) %>" <%- (field.required) ? 'required ' : '' %>><%- field.value || '' %></textarea>
        <% if (field.description) { %>
        <div class="row form-item-desc">
            <div class="col-md-12">
                <%- field.description %>
            </div>
        </div>
        <% } %>
    </div>
</div>