<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
    <div class="col-md-2">
        <label for="<%- id %>">
            <%- field.title %>
            <% if (field.required) { %>
            <span class="required"></span>
            <% } %>
            <span class="form-item-desc">
                <% if (field.description) { %>
                <%- field.description %>
                <% } %>
            </span>
        </label>
    </div>
    <% } %>
    <div class="col-md-1<%- field.title ? '0' : '2' %>">
        <div class="row">
            <div class="col-md-12">
                <input type="file" name="<%- field.name %>" class="form-control file-field" id="<%- id %>"<%- field.multiple ? ' multiple' : '' %> <%- (field.required) ? 'required ' : '' %>>
            </div>
        </div>
        <div class="row">
            <div class="file-prev col-md-12">
                <% for (var i=0; i < field.value.length; i++) { %>
                <div class="row field-value-item" data-id="<%- field.value[i]._id %>">
                    <div class="col-xs-8 col">
                        <a href="/<%- field.value[i].url() %>" class="popup-img-marker" data-separate="true">
                            <img src="/<%- field.value[i].url('fieldPreview') %>" alt="<%- field.value[i].get('name') %>" width="70" />
                        </a>
                    </div>
                    <div class="col-xs-2 col"><%- (field.value[i].size / 1048576).toFixed(2) %>Mb</div>
                    <div class="col-xs-2 col">
                        <a href="#" class="remove"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="progress-wrapper"></ul>
                </div>
            </div>
        </div>
    </div>
</div>