<div class="row <%- field.getClasses() %>">
    <% if (field.title) { %>
        <div class="col-md-2">
            <label for="<%- id %>">
                <% if (field.title) { %>
                <%- field.title %>
                <% } %>
                <span class="form-item-desc">
                    <% if (field.description) { %>
                    <%- field.description %>
                    <% } %>
                </span>
            </label>
        </div>
    <% } %>
    <div class="col-md-1<%- field.title ? '0' : '2' %> radios-wrapper" id="<%- id %>">
        <% for (var itemID in field.items) { %>
            <div class="form-control radio-item>" active-validate="<%- Boolean(field.activeValidate) %>" >
                <input type="radio" name="<%- field.name %>" id="<%- id + itemID %>" value="<%- itemID %>" <%- (field.value == itemID) ? 'checked' : '' %> >
                <label for="<%- id + itemID %>">
                        <span class="radio-name">
                            <% if (field.items[itemID].name) { %>
                            <%- field.items[itemID].name %>
                            <% } %>
                        </span>
                        <span class="label-content">
                            <%- field.items[itemID].title %>
                        </span>
                </label>
            </div>
        <% } %>
    </div>
</div>


