<% layout ('./../layout/main') -%>
<% block('title', title); -%>

<div class="form-admin-menu form">
    <div class="admin-menu-form-content form-content">
        <form id="admin-menu-form" class="app-form-marker" data-theme="admin" data-id="<%- id %>" ></form>
    </div>
</div>