<li>
<% for (fName in items) { %>
        <%- items[fName].html %>
<% } %>

    <% if (childs) { %>
        <ul class="dropdown-menu" role="menu">
            <%- childs %>
        </ul>
    <% } %>
</li>
