<% layout ('./../layout/main') -%>
<% block('title', title); -%>

<div class="form-admin-page form">
    <div class="admin-event-page-form-content form-content">
        <form id="admin-event-page-form" class="app-form-marker" data-theme="admin" data-id="<%- page ? page.get('id') : false %>" ></form>
    </div>
</div>