<div class="collapse navbar-collapse navbar-ex1-collapse">

    <div style="display: none" class="side-nav">
        <% if ((typeof menu === 'object') && menu.admin_menu) { %>
            <%- menu.admin_menu %>
        <% } %>
    </div>

</div>