<ul class="nav navbar-right top-nav">
    <li>
        <div class="form-system-actions-form form container-fluid">
            <div class="form-system-actions-form-content form-content">
                <form id="system-actions-form" data-theme="admin" class="app-form-marker"></form>
            </div>
        </div>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu message-dropdown">
            <li class="message-preview">
                <a href="#">
                    <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <strong>John Smith</strong>
                            </h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="message-preview">
                <a href="#">
                    <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <strong>John Smith</strong>
                            </h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="message-preview">
                <a href="#">
                    <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <strong>John Smith</strong>
                            </h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="message-footer">
                <a href="#">Read All New Messages</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu alert-dropdown">
            <li><a href="#">Alert Name <span class="label label-default">Alert Badge</span></a></li>
            <li><a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a></li>
            <li><a href="#">Alert Name <span class="label label-success">Alert Badge</span></a></li>
            <li><a href="#">Alert Name <span class="label label-info">Alert Badge</span></a></li>
            <li><a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a></li>
            <li><a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a></li>
            <li class="divider"></li>
            <li><a href="#">View All</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%- user.get('name') %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a></li>
            <li><a href="/admin/settings"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
            <li class="divider"></li>
            <li>
                <form method=POST action=/logout class="logout-form">
                    <i class="fa fa-fw fa-power-off"></i>
                    <input class="btn btn-link" type="submit"  value=" Log Out">
                </form>
                <!--<a href="#"><i class="fa fa-fw fa-power-off"></i> </a>-->
            </li>
        </ul>
    </li>
</ul>