<% if (enableLayout)  { %>
<% layout ('./../layout') -%>
<% } %>
<ul class="view-menu">
    <% for (key in items) { %>
        <li>
            <% delete items[key].id %>
            <% for (fName in items[key]) { %>
                <span class="view-item-menu-field">
                    <%- items[key][fName].html %>
                </span>
            <% } %>
        </li>
    <% } %>
</ul>
