.page-header {
  background: #E0E0D8;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  h3 {
    font-size: 1.385em;
  }
}
.page-body {
  padding-left: 50px;
  padding-right: 50px;
}

#page-wrapper {
  padding-bottom: 200px;
}