@mixin line-gradient ($color1: #fff, $color2: #000) {
    background-image: linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -o-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -moz-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -webkit-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -ms-linear-gradient(bottom, $color1 0%, $color2 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, $color1),
            color-stop(1, $color2)
    );
}
@mixin line-gradient-3 ($color1: #fff, $color2: #000, $color3: #fff) {
    background-image: linear-gradient(bottom, $color1 0%, $color2 50%, $color3 100%);
    background-image: -o-linear-gradient(bottom, $color1 0%, $color2 50%, $color3 100%);
    background-image: -moz-linear-gradient(bottom, $color1 0%, $color2 50%, $color3 100%);
    background-image: -webkit-linear-gradient(bottom, $color1 0%, $color2 50%, $color3 100%);
    background-image: -ms-linear-gradient(bottom, $color1 0%, $color2 50%, $color3 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, $color1),
            color-stop(0.5, $color2),
            color-stop(1, $color3)
    );
}
@mixin strippedBg ($color1, $color2, $lineHeight: 20px, $x: 2) {
  background-image: -webkit-repeating-linear-gradient(bottom, $color1 0px, $color1 $lineHeight, $color2 $lineHeight, $color2 $lineHeight*$x);
  background-image: -moz-repeating-linear-gradient(bottom, $color1 0px, $color1 $lineHeight, $color2 $lineHeight, $color2 $lineHeight*$x);
  background-image: -ms-repeating-linear-gradient(bottom, $color1 0px, $color1 $lineHeight, $color2 $lineHeight, $color2 $lineHeight*$x);
  background-image: -o-repeating-linear-gradient(bottom, $color1 0px, $color1 $lineHeight, $color2 $lineHeight, $color2 $lineHeight*$x);
  background-image: repeating-linear-gradient(bottom, $color1 0px, $color1 $lineHeight, $color2 $lineHeight, $color2 $lineHeight*$x);
}
@mixin box-shadow($props...){
  -webkit-box-shadow: $props;
     -moz-box-shadow: $props;
          box-shadow: $props;
}
@mixin transition ($arguments...){
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  -ms-transition: $arguments;
  transition: $arguments;
}
@mixin transform ($arguments...){
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
   -khtml-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin one-line-text {
    @include text-overflow();
    white-space: nowrap;
}
@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
     clear: both;
  }
}
@mixin clear-ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none outside none;
    }
}
@mixin inline {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

@mixin opacity ($value){
  filter: alpha("opacity=#{$value * 100}");
  -webkit-opacity: $value;
  -moz-opacity: $value;
  -o-opacity: $value;
  -khtml-opacity: $value;
  opacity: $value;
}

@mixin valign-middle {
  height: 100%;
  &:before {
    display: inline-block;
    height: 100%;
    content: '';
    margin-left: -1.25em;
    vertical-align: middle;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin background-image ($url: '') {
    background-image:  url("#{$base-img-url}#{$url}");
}



@mixin transform($arguments...) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}
@mixin rotation($deg: 5deg){
  @include transform(rotate($deg));
}

@mixin content-width($width: 1000px, $min-width: $width, $max-width: $min-width) {
  .fixed-width {
    max-width: $width;
  }

  .max-width {
    max-width: $max-width;
  }

  html, body,
  .max-width,
  .fixed-width {
    min-width: $min-width;
  }
  
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem($key, $px) {
  #{$key}: strip-unit( $px ) * 1px;
  #{$key}: ( strip-unit( $px ) / ($base-font-size/1px) ) * 1rem;
}

@mixin font-size($sizeValue) {
  @include rem(font-size, $sizeValue);
}

