<h2>Здравствуйте <%- name %>, Вы подали заявку на регистрацию <strong><%- domain %></strong></h2>
<h3>Для продолжения нужно активировать Вашу учетную запись</h3>
<br />
<br />
<a style="background-color: #30bf09; font-family: segoe_uibold; display: block; color: #fff; text-decoration: none; padding: 10px 25px; text-transform: uppercase; font-family: sans-serif; width: 200px; text-align: center; margin: 10px 0px;" href="http://<%- domain %>[confirm-path]">
    Активировать
</a>
<br /><br /><br />
С Уважением, :<strong><%- supportEmail %></strong>