/* Dialog
 ------------------------------------------*/
.note-dialog {
  & > div {
    display: none; /* BS2's hide pacth. */
  }
  .form-group { /* overwrite BS's form-horizontal minus margins */
    margin-left: 0;
    margin-right: 0;
  }
  .note-modal-form {
    margin: 0; /* overwrite BS2's form margin bottom */
  }
  .note-image-dialog {
    .note-dropzone {
      min-height: 100px;
      font-size: 30px;
      line-height: 4; /* vertical-align */
      color: lightgray;
      text-align: center;
      border: 4px dashed lightgray;
      margin-bottom: 10px;
    }
  }
  .note-help-dialog {
    $note-shortcut-hl: #dd0;
    font-size: 12px;
    color: #ccc;
    background-color: #222 !important;
    @include opacity(.9);
    .modal-content {
      background: transparent;
      border: 1px solid white;
      @include box-shadow(none);
      border-radius: 5px;
    }

    /* BS2's background pacth. */
    background: transparent;
    border: none;

    a {
      font-size: 12px;
      color: white;
    }

    .title {
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: white 1px solid;
    }

    .modal-close {
      font-size: 14px;
      color: $note-shortcut-hl;
      cursor: pointer;
    }

    .text-center {
      margin: 10px 0 0;
    }

    .note-shortcut {
      padding-top: 8px;
      padding-bottom: 8px;

      &-row {
        margin-right: -5px;
        margin-left: -5px;
      }

      &-col {
        padding-right: 5px;
        padding-left: 5px;
      }

      &-title {
        font-size: 13px;
        font-weight: bold;
        color: $note-shortcut-hl;
      }

      &-key {
        font-family: "Courier New";
        color: $note-shortcut-hl;
        text-align: right;
      }
    }
  }
}