/* Editor
 ------------------------------------------*/
.note-editor {
  border: 1px solid $border-color;
  position: relative;

  /* dropzone */
  $dropzone-color: lightskyblue;
  $dropzone-active-color: darken($dropzone-color, 30);
  .note-dropzone {
    position: absolute;
    display: none;
    z-index: 100;
    border: 2px dashed $dropzone-color;
    color: $dropzone-color;
    background-color: white;
    @include opacity(.95);
    pointer-event: none;

    .note-dropzone-message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
    }

    &.hover {
      border: 2px dashed $dropzone-active-color;
      color: $dropzone-active-color;
    }
  }

  &.dragover .note-dropzone {
    display: table;
  }

  .note-toolbar {
    background-color: $background-color;
    border-bottom: 1px solid $border-color;
  }

  /* fullscreen mode */
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* bs3 modal-backdrop: 1030, bs2: 1040 */
    .note-editable {
      background-color: white;
    }
    .note-resizebar {
      display: none;
    }
  }

  /* codeview mode */
  &.codeview {
    .note-editable {
      display: none;
    }
    .note-codable {
      display: block;
    }
  }

  /* statusbar */
  .note-statusbar {
    background-color: $background-color;
    .note-resizebar {
      height: 8px;
      width: 100%;
      border-top: 1px solid $border-color;
      cursor: ns-resize;
      .note-icon-bar {
        width: 20px;
        margin: 1px auto;
        border-top: 1px solid $border-color;
      }
    }
  }

  /* editable */
  .note-editable[contenteditable=true]:empty:not(:focus):before {
    content:attr(data-placeholder);
    color: #a9a9a9;
  }

  .note-editable {
    padding: 10px;
    overflow: auto;
    outline: none;
  }
  .note-editable[contenteditable="false"] {
    background-color: #e5e5e5;
  }

  /* codeable */
  .note-codable {
    display: none;
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: none;
    font-family: Menlo, Monaco, monospace, sans-serif;
    font-size: 14px;
    color: #ccc;
    background-color: #222;
    resize: none;

    /* override BS2 default style */
    @include box-sizing(border-box);
    border-radius: 0;
    margin-bottom: 0;
  }
}
/* Air Mode Layout
 ------------------------------------------*/
.note-air-editor {
  outline: none;
}