/* Handle
 ------------------------------------------*/
.note-handle {
  /* control selection */
  .note-control-selection {
    position: absolute;
    display: none;
    border: 1px solid black;
    &>div { position: absolute; }

    .note-control-selection-bg {
      width: 100%;
      height: 100%;
      background-color: black;
      @include opacity(.30);
    }

    .note-control-handle {
      width: 7px;
      height: 7px;
      border: 1px solid black;
    }

    .note-control-holder {
      @extend .note-control-handle;
    }

    .note-control-sizing {
      @extend .note-control-handle;
      background-color: white;
    }

    .note-control-nw {
      top: -5px;
      left: -5px;
      border-right: none;
      border-bottom: none;
    }

    .note-control-ne {
      top: -5px;
      right: -5px;
      border-bottom: none;
      border-left: none;
    }

    .note-control-sw {
      bottom: -5px;
      left: -5px;
      border-top: none;
      border-right: none;
    }

    .note-control-se {
      right: -5px;
      bottom: -5px;
      cursor: se-resize;
    }

    .note-control-selection-info {
      right: 0;
      bottom: 0;
      padding: 5px;
      margin: 5px;
      color: white;
      background-color: black;
      font-size: 12px;
      border-radius: 5px;
      @include opacity(.7);
    }
  }
}