@font-face {
  font-family: 'champagne-limousines';
  src: url("../fonts//champagne-limousines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica-neue-cyr-ultraLight';
  src: url("../fonts//HelveticaNeueCyr-UltraLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hattori-hanzo-light';
  src: url("../fonts//HattoriHanzo-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.page {
  min-height: 500px; }

.nav li a {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFF; }
  .nav li a:hover, .nav li a:focus {
    color: #E4E7C3;
    background: none; }

body {
  font-family: hattori-hanzo-light;
  font-size: 14px;
  color: #333; }
  body a, body .btn-link {
    color: #939292; }
    body a:hover, body a:focus, body .btn-link:hover, body .btn-link:focus {
      color: #ffffff;
      text-decoration: none; }
  body .page a:hover {
    color: #262A2F; }

.home-content {
  font-size: 13px; }

.alert {
  border-radius: 0px;
  margin-top: 20px; }

.text-vertical {
  transform: rotate(270deg); }

.btn {
  border-radius: 0px; }
  .btn.btn-success {
    background-color: #828C18; }
    .btn.btn-success:hover {
      background-color: #8cb118; }
  .btn.btn-primary {
    background-color: #B0BD1F;
    border: 1px solid #6E8749; }
    .btn.btn-primary:hover {
      background-color: #96a31e; }
  .btn.btn-warning {
    background-color: #262A2F;
    border: 1px solid #4b5156; }
    .btn.btn-warning:hover {
      background-color: #555560; }

.form {
  width: 450px;
  position: relative;
  max-width: 850px; }
  .form.form-popup {
    width: 100%; }
  .form .alert {
    display: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none; }
  .form .form-item {
    margin-bottom: 5px;
    position: relative; }
    .form .form-item.error input {
      background-color: #FFE2E2;
      border: 1px solid #BF3031; }
    .form .form-item.error .messages {
      margin: 0;
      padding: 0;
      color: #BF3031; }
      .form .form-item.error .messages li {
        list-style: none outside none; }
      .form .form-item.error .messages li {
        position: absolute;
        bottom: 18px;
        right: -150px;
        width: 150px;
        text-align: left; }
  .form .form-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5; }
    .form .form-actions .buttons {
      text-align: right; }

.pagination-wrap {
  text-align: center; }

header .left-side {
  padding-top: 2px; }
  header .left-side .logo {
    padding-left: 0px; }
    header .left-side .logo img {
      margin-left: -4px;
      width: 165px;
      margin-top: 16px; }
  header .left-side .slogan {
    line-height: 35px;
    font-size: 18px;
    font-family: champagne-limousines;
    padding-left: 25px;
    margin-top: 7px;
    text-transform: uppercase; }

header .navbar.navbar-default {
  background: #B0BD1F;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  min-height: 125px; }
  header .navbar.navbar-default .navbar-header .navbar-toggle {
    border: none;
    background: none;
    padding-left: 30px; }
  header .navbar.navbar-default .def-nav-wrapper, header .navbar.navbar-default .navbar-collapse {
    padding: 0px; }
  header .navbar.navbar-default .nav {
    margin-top: 8px;
    margin-bottom: 12px; }
    header .navbar.navbar-default .nav li .icon {
      padding-right: 5px;
      font-family: arial; }
    header .navbar.navbar-default .nav li a {
      color: #FFF;
      border-right: 1px solid #96A11B; }
      header .navbar.navbar-default .nav li a:hover {
        color: #262A2F; }
        header .navbar.navbar-default .nav li a:hover .icon {
          color: #262A2F; }
    header .navbar.navbar-default .nav li:last-child a {
      border-right: none; }
    header .navbar.navbar-default .nav .open {
      background-color: #9EAD1C; }
      header .navbar.navbar-default .nav .open a, header .navbar.navbar-default .nav .open a:focus {
        background: none; }
      header .navbar.navbar-default .nav .open a:focus {
        border-color: #E7E7E7;
        color: #ffffff;
        font-weight: bold; }
      header .navbar.navbar-default .nav .open .dropdown-menu a {
        color: #ffffff;
        padding: 12px 0px; }
  header .navbar.navbar-default .divider {
    background-color: #E7E7E7;
    font-size: 5px; }
  header .navbar.navbar-default .search-form {
    margin: 5px 5px 0 5px;
    border: none; }
    header .navbar.navbar-default .search-form input[type="text"] {
      height: 30px;
      border-radius: 0px;
      border: 1px solid #828c18; }
  @media (max-width: 1200px) {
    header .navbar.navbar-default .navbar-nav li {
      float: none; }
      header .navbar.navbar-default .navbar-nav li:last-child a {
        border-right: 1px solid #96A11B; } }
  @media (max-width: 768px) {
    header .navbar.navbar-default {
      height: auto;
      min-height: 0px; }
      header .navbar.navbar-default a {
        padding: 12px 0px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #9BA71B; }
        header .navbar.navbar-default a .icon {
          display: none; }
      header .navbar.navbar-default li:last-child a {
        border-bottom: none; } }

footer {
  margin-top: 100px;
  color: #ffffff; }
  footer .footer-header {
    background-color: #B0BD1F;
    height: 15px; }
  footer .footer-content {
    margin-top: 1px;
    background-color: #262A2F;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px; }

.contact-us-btn-wrap {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  bottom: 30%;
  right: -90px;
  z-index: 2; }
  .contact-us-btn-wrap .btn {
    font-size: 16px;
    border: none;
    padding: 4px 22px 50px 22px; }
  .contact-us-btn-wrap:hover {
    right: -70px; }

.home-carousel.swiper-container {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #262A2F;
  height: 300px;
  width: 100%; }
  .home-carousel.swiper-container .swiper-slide {
    background-position: center;
    background-size: cover; }
  .home-carousel.swiper-container .swiper-button-prev, .home-carousel.swiper-container .swiper-button-next {
    width: 70px;
    height: 100%;
    top: 0px;
    margin-top: 0px;
    background-size: 20px auto; }
    .home-carousel.swiper-container .swiper-button-prev .hover-wrap, .home-carousel.swiper-container .swiper-button-next .hover-wrap {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      display: block;
      width: 70px;
      height: 300px;
      background-repeat: repeat-x;
      opacity: 0;
      position: absolute;
      top: 0px; }
    .home-carousel.swiper-container .swiper-button-prev.swiper-button-disabled, .home-carousel.swiper-container .swiper-button-next.swiper-button-disabled {
      cursor: default; }
    .home-carousel.swiper-container .swiper-button-prev:hover .hover-wrap, .home-carousel.swiper-container .swiper-button-next:hover .hover-wrap {
      opacity: 1; }
  .home-carousel.swiper-container .swiper-button-next {
    right: 4px;
    background-position: center right; }
    .home-carousel.swiper-container .swiper-button-next .hover-wrap {
      right: -4px;
      background-image: linear-gradient(to right, transparent 0px, rgba(78, 78, 78, 0.68) 100%); }
  .home-carousel.swiper-container .swiper-button-prev {
    left: 4px;
    background-position: center left; }
    .home-carousel.swiper-container .swiper-button-prev .hover-wrap {
      left: -4px;
      background-image: linear-gradient(to left, transparent 0px, rgba(78, 78, 78, 0.68) 100%); }

.page .image-nav li {
  background-color: #262A2F;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 260px;
  padding: 0px;
  overflow: hidden; }
  .page .image-nav li a.img-nav-link {
    padding: 0px; }
    .page .image-nav li a.img-nav-link img {
      transition: 0.5s;
      width: 100%;
      height: 260px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      max-width: 165px;
      min-width: 135px;
      margin: 0px auto;
      display: block; }
    .page .image-nav li a.img-nav-link:hover img {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%); }
    .page .image-nav li a.img-nav-link .nav-tinting {
      z-index: 1;
      background-color: #000;
      opacity: 0.7; }
    .page .image-nav li a.img-nav-link .nav-block {
      height: 45%;
      width: 100%;
      position: absolute;
      bottom: 0px; }
    .page .image-nav li a.img-nav-link .nav-info {
      z-index: 2;
      color: #ffffff;
      font-size: 15px;
      padding: 10px 5px;
      text-align: center;
      word-wrap: break-word; }
  .page .image-nav li:last-child {
    border-right: none; }

.page .home-nav {
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .page .home-nav li {
      width: 12.5%; } }

body .category-nav {
  background-color: #B0BD1F;
  margin-top: 2px;
  border-bottom: 2px solid #262A2F;
  position: relative;
  color: #ffffff; }
  body .category-nav .nav-title {
    padding-top: 2px;
    display: inline-block; }
  body .category-nav .nav.navbar-nav {
    float: none; }
  body .category-nav .nav li .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.176);
    border: none;
    min-width: 100%; }
  body .category-nav .nav .open a {
    background-color: #B0BD1F; }

.page .image-nav.gallery li {
  height: auto; }
  .page .image-nav.gallery li a.img-nav-link img {
    height: 140px;
    max-width: 285px; }

.page .page-title {
  border-bottom: 2px solid #828c18;
  margin-bottom: 18px;
  margin-top: 20px; }
  .page .page-title h1, .page .page-title h2, .page .page-title h3, .page .page-title h4, .page .page-title h5 {
    padding-bottom: 0px;
    margin-bottom: 0px; }

.modal.popup-img .modal-dialog, .modal.swipe-gallery-popup .modal-dialog {
  width: 100%;
  margin: 0px; }

.modal.popup-img .modal-content, .modal.swipe-gallery-popup .modal-content {
  background: none;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.74) none repeat scroll 0% 0%; }
  .modal.popup-img .modal-content .modal-header, .modal.swipe-gallery-popup .modal-content .modal-header {
    border: none;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 12px; }
  .modal.popup-img .modal-content .modal-body, .modal.swipe-gallery-popup .modal-content .modal-body {
    padding: 0px; }
    .modal.popup-img .modal-content .modal-body .img-in-popup, .modal.swipe-gallery-popup .modal-content .modal-body .img-in-popup {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      background-color: #262A2F;
      background-repeat: no-repeat; }
  .modal.popup-img .modal-content .close, .modal.swipe-gallery-popup .modal-content .close {
    width: 100px;
    height: 100px;
    color: white;
    font-size: 45px;
    opacity: 0.7; }
    .modal.popup-img .modal-content .close span, .modal.swipe-gallery-popup .modal-content .close span {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    .modal.popup-img .modal-content .close:hover, .modal.swipe-gallery-popup .modal-content .close:hover {
      opacity: 1; }
      .modal.popup-img .modal-content .close:hover span, .modal.swipe-gallery-popup .modal-content .close:hover span {
        font-size: 100px; }

.swipe-gallery-popup .close {
  width: 100px;
  height: 100px; }
  .swipe-gallery-popup .close span {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s; }
  .swipe-gallery-popup .close:hover span {
    font-size: 100px; }

.swipe-gallery-popup .gallery-top.swiper-container {
  /*height: 80%;*/
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .swipe-gallery-popup .gallery-top.swiper-container .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: #262A2F; }

.swipe-gallery-popup .gallery-top .swiper-button-prev, .swipe-gallery-popup .gallery-top .swiper-button-next {
  width: 50%;
  height: 100%;
  top: 0px;
  margin-top: 0px;
  background-size: 20px auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .swipe-gallery-popup .gallery-top .swiper-button-prev.swiper-button-disabled, .swipe-gallery-popup .gallery-top .swiper-button-next.swiper-button-disabled {
    cursor: default; }
  .swipe-gallery-popup .gallery-top .swiper-button-prev:hover, .swipe-gallery-popup .gallery-top .swiper-button-next:hover {
    background-size: 40px auto; }

.swipe-gallery-popup .gallery-top .swiper-button-next {
  right: 4px;
  background-position: center right; }

.swipe-gallery-popup .gallery-top .swiper-button-prev {
  left: 4px;
  background-position: center left; }

.swipe-gallery-popup .gallery-thumbs.swiper-container {
  /*height: 20%;*/
  box-sizing: border-box;
  padding: 0; }
  .swipe-gallery-popup .gallery-thumbs.swiper-container .swiper-slide {
    width: 160px;
    height: 100px;
    opacity: 0.4;
    cursor: pointer;
    background-size: 100% auto; }
  .swipe-gallery-popup .gallery-thumbs.swiper-container .swiper-slide-active,
  .swipe-gallery-popup .gallery-thumbs.swiper-container .swiper-slide:hover {
    opacity: 1; }

.home-carousel.swiper-container.item-album-carousel .swiper-slide {
  background-size: inherit;
  background-repeat: no-repeat;
  background-color: #262A2F; }

/**
 * Swiper 3.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: April 25, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px; }

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active {
  pointer-events: auto; }

/* Cube */
.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px); }

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
  z-index: 0; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
