<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
<a href="/admin/accounts/view/<%- id %>" class="link-user-view">VIEW</a>
<a href="#" data-id="<%- id %>" class="link-user-delete">DELETE</a>
<a data-name="adminUser" data-id="<%- id %>" class="popup-btn link-user-edit" href="#">EDIT</a>
    </div>
