<form id="<%- form.id %>" role="form" target="_blank" class="app-form" <%- attributes %> method="post" action="" >
    <div class="form-fields row">
        <% for (var key in fields) { %>
            <div class="col-md-12"><%- fields[key] %></div>
        <% } %>
    </div>
    <div class="form-actions row">
        <div class="col-md-5 messages">
            <div class="alert alert-danger" role="alert"></div>
        </div>
        <div class="col-md-7 buttons">
            <i class="fa fa-refresh fa-spin preloader" style="display: none"></i>
            <% if (typeof form.buttons.submit == 'object') { %>
            <input type="submit" class="btn <%- (form.buttons.submit.class || 'btn-primary') %>" value="<%- (form.buttons.submit.title || 'submit') %>"/>
            <% } %>

            <% if (typeof form.buttons.cancel == 'object') { %>
            <a class="btn <%- (form.buttons.cancel.class || 'btn-warning') %> form-cancel-button"><%- (form.buttons.cancel.title || 'cancel') %></a>
            <% } %>
        </div>
    </div>
</form>