<% layout ('/layout/main') -%>
<% block('title', title); -%>

<div class="row">
    <div class="swiper-container home-carousel" data-autoplay="4000">
        <div class="swiper-wrapper">
            <% for (var i = 1; i <= 9; i++) { %>
            <div class="swiper-slide" style="background-image:url('/img/front_slider/<%- i %>.jpg')"></div>
            <% } %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white">
            <span class="hover-wrap"></span>
        </div>
        <div class="swiper-button-prev swiper-button-white">
            <span class="hover-wrap"></span>
        </div>
    </div>
</div>
<div class="row image-nav home-nav">
    <ul class="nav side-nav">
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4b5360b9722da043e2249') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/bath.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Бани проектирование строительство
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/58cac9eafed2a5134523bb33') %>" class="home-nav-link img-nav-link">
                <img src="/files/goodsPictures/prev_124x200/3e0188df-3873-4e38-ab8a-d033f34883f1.png"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Система нержавеющих ограждений Версаль
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4c1e70f4cbaec20f19421') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/conditioners.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Кондиционирование и вентиляция
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4c2930f4cbaec20f1942e') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/stairs.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Лестницы проектирование строительство
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4c6530f4cbaec20f19495') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/fencing.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Ограждения лестниц и балконов
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4ca9b0f4cbaec20f19537') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/glass-enclosure.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Цельностеклянные ограждения
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="/azovmebel" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/furniture.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Мебель
                </div>
            </a>
        </li>
        <li class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
            <a href="<%- link('/goods/category/55a4bee257dc555f1ac11e3d') %>" class="home-nav-link img-nav-link">
                <img src="/img/front_nav/swimming-pool.jpg"/>

                <div class="nav-block nav-tinting"></div>
                <div class="nav-block nav-info">
                    Бассейны
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="row home-content">
    Компания Сберегающие Технологии Строительства оказывает следующие услуги: проектирование и строительство бань, бассейнов, ограждений лестниц и балконов.
    Компания СТС находится на рынке много лет, и успела зарекомендовать себя только с положительной стороны.
    Если вам нужные строительные услуги в Крыму, обращайтесь к нам. Мы гарантируем каждому клиенту индивидуальный подход, высокое качество работы и доступные цены.
    У нас работают только высококвалифицированные специалисты с большим опытом. При проведении строительных работ мы используем качественные и проверенные материалы и современное оборудование.
    Наши специалисты максимально точно рассчитают количество материалов, создадут грамотные проекты и добросовестно выполнят свою работу. Мы дорожим каждым своим клиентом. Наши сотрудники регулярно проходят повышение квалификации.
</div>