<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css" media="screen"/>
    <title><%- siteName %></title>
</head>
<style>
    header, footer {
        background-color: #B0BD1F;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }
    .message {
        text-align: center;
        background-color: #ffffff;
        border-left: 2px solid #495003;
        border-right: 2px solid #495003;
        color: #3e1f00;
        padding: 150px 10px;
        min-height: 500px;
    }
</style>
<body data-ctrl="Ctrl">
<div class="container">
    <div class="row">
        <header>
            <h4><%- siteName %> находится в режме разработки</h4>
        </header>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="message">
            <p>Доступ для посетителей закрыт, <strong>идут работы</strong> :)</p>
            <h4>Спасибо за понимание</h4>
            <br />

            <p>Вы также можете обратиться по адрессу <strong><%- supportEmail %></strong></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <footer></footer>
    </div>
</div>

</body>
</html>