<div data-name="<%- field.name %>" class="<%- id %> field-<%- field.type %>-type view-item<%- field.fieldClass ? ' ' + field.fieldClass : ''%>">
<a href="/page/<%- id %>" class="link-page-view">VIEW</a>
<a href="/admin/content/edit/<%- id %>" class="link-page-edit">EDIT</a>
    <a href="#" class="popup-form-marker" data-theme="admin" data-form-name="admin-page-delete-form" data-id="<%- id %>" >DELETE</a>
</div>
