<div class="view-box view-<%- viewName %> view-<%- viewName %>-<%- displayID %>" data-display="<%- displayID %>" data-view="<%- viewName %>" <% for (var cKey in context) { %> data-<%- cKey %>="<%- context[cKey] %>"<% } %> >
    <div class="view-content">
        <%-body -%>
    </div>
    <div class="view-footer">
        <%- partial('partial/pagination')%>
    </div>
</div>