.nav li a {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFF;
  &:hover, &:focus {
    color: #E4E7C3;
    background: none;
  }
}
body {
  font-family: #{$base-font};
  font-size: #{$base-font-size};
  color: #{$base-font-color};
  a, .btn-link {
    color: #{$base-link-color};
    &:hover, &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
  .page {
    a:hover {
      color: #262A2F;
    }
  }
}

.home-content {
  font-size: #{$home-font-size};;
}
.alert {
  border-radius: 0px;
  margin-top: 20px;
}