@font-face {
  font-family: 'champagne-limousines';
  src: url('#{$base-fonts-url}/champagne-limousines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica-neue-cyr-ultraLight';
  src: url('#{$base-fonts-url}/HelveticaNeueCyr-UltraLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hattori-hanzo-light';
  src: url('#{$base-fonts-url}/HattoriHanzo-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}