.text-vertical {
  transform: rotate(270deg);
//  transform-origin: left top 0;
}

.btn {
  border-radius: 0px;
  &.btn-success {
    background-color: #828C18;
    &:hover {
      background-color: #8cb118;
    }
  }
  &.btn-primary {
    background-color: #B0BD1F;
    border: 1px solid #6E8749;
    &:hover {
      background-color: #96a31e;
    }
  }
  &.btn-warning {
    background-color: #262A2F;
    border: 1px solid #4b5156;
    &:hover {
      background-color: #555560;
    }
  }
}