$base-img-url: '../img/';
$base-fonts-url: '../fonts/';

$base-font: hattori-hanzo-light;
$slogan-font: champagne-limousines;
$secondary-font: arial;

$footer-height: 50px;
$page-min-height: 500px;

$base-font-size: 14px;
$home-font-size: 13px;
$base-font-color: #333;

$base-bg-color: #262A2F;
$header-bg-color: #B0BD1F;
$footer-bg-color: #B0BD1F;
$base-link-color: #939292;

